.position {
    text-align: justify;
    text-justify: inter-word;
    color: rgb(62, 56, 56);
}

.follow {
    text-transform: uppercase;
    font-size: 0.7142em;
    padding: 0.5rem 0.7rem;
    line-height: 1.625rem;
    color: white;
}

.follow:hover {
    background-color: transparent !important;
}

